**/bin
**/obj
**/node_modules
**/.git
**/.github
**/Tests
**/*.md
**/appsettings.Development.json
**/*.user
**/.vs
**/.vscode
**/.idea
**/.DS_Store
**/*.log
**/*.log.*
**/.env
**/.env.*
**/coverage
**/.dockerignore
**/Dockerfile*
